body {
  margin: 0;
  font-family: monospace;
}

header {
  background-color: slateblue;
  color: white;
  padding: 20px;
}

a {
  color: white;
}

.highlight {
  background-color: yellow;
}

main {
  margin: 16px;
}

footer {
  color: green;
  background-color: black;
  padding: 10px;
}
