.product {
  width: 250px;
  position: relative;
}

.product img {
  max-width: 100%;
}

.info {
  position: absolute;
  left: 10px;
  bottom: 20px;

  color: white;
  text-shadow: 10px 10px 5px black;
}

.solo {
  position: absolute;
  left: 10px;
  bottom: 20px;
}
